body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#sidebar {
    background-color: cadetblue;
    color: white;
    width: 300px;
    padding: 0px 10px;
}

#main {
    width: 100%;
}

#logo {
    font-size: 26px;
    margin: 10px 0px 20px 0px;
}

#openDialog {
    font-size: 36px;
    margin: 10px 0px 20px 0px;
    /* top right bottom left */
}

form>* {
    display: block;
    margin: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerLinks {
    display: flex;
    gap: 10px;
}

.projectDiv {
    border: 1px solid lightblue;
    padding: 10px;
    margin: 10px;
}

.taskDiv {
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: center;
    gap: 20px;
}