body {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#sidebar {
    background-color: cadetblue;
    color: white;
    width: 300px;
    padding: 0px 10px;
}

#main {
    padding: 0px 10px;
    /* top-bottom right-left */
}

.logo {
    font-size: 26px;
    margin: 10px 0px 20px 0px;
    /* top right bottom left */
}

form>* {
    display: block;
    margin: 10px;
}

.card {
    border: 1px solid cadetblue;
    padding: 10px;
}